<div class="common">
  <p-card class="common-card">
    <ng-template pTemplate="header">
      <h4 class="common-card-title">Welcome To The Quiz Game</h4>
    </ng-template>
    <div class="common-card-body">
      <div class="grid">
        <div class="col-12 md:col-9 lg:col-9 sm:col-12">
          <h5>#HighScore List</h5>
          <app-common-table
            [data]="highScoreDetails"
            name="highScore"
          ></app-common-table>
        </div>
        <div class="col-12 md:col-3 lg:col-3 sm:col-12">
          <div class="btn-grp">
            <button
              pButton
              type="button"
              class="p-button-button-success mt-5"
              label="Start Game"
              (click)="startGame()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
